@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,900');
/*-------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/
/*-------------------------------------------------------------------------------*/


/* my styles*/

* {
	box-sizing: border-box;
	transition: all 100ms ease-in-out;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html {
	font-size: .75em;
}

body {
  margin: 0;
  background-color: #ebf6f7;
  font-family: 'Montserrat';
  color: #27221F; /*墨色 	Sumi-iro 	Ink color*/
}

/* generic typography  */
/*-------------------------------------------------------------------------------*/
/* type scale is perfect 4th (1.333)*/
p {
	font-weight: 100;
	margin-bottom: 1.3em;
	line-height: 1.5;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

small, .font_small {
	font-size: 1em;
	line-height: 1;
	color: #575757;
	font-weight: 100;
}


/* 瑠璃色 	Ruri-iro 	Lapis lazuli color */
a {
	text-decoration: underline dashed;
	/* color: #1F4788;  */
}

/* 瑠璃色 	Ruri-iro 	Lapis lazuli color */
/* a:visited {
	color: #1F4788; 
} */

img {
	max-width: 100%;
	height: auto; 
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

section h2 {
	text-align: center;
}

/* button  */
/*-------------------------------------------------------------------------------*/
.button {
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	padding: .3em 1.75em;
}
@media(min-width: 64.0625rem) {
	.button {
		font-size: 2em;
	}
}

.button-primary-color {
	color: #ebf6f7; /* traditional Japanese color 藍白 Aijiro Indigo white */
	background: #27221f;
}

.button-primary-color:hover,
.button-primary-color:focus {
	box-shadow: 0 6px 6px 0 #3a3a3a;
}

.button-small {
	font-size: .8em;
}

/* activity list  */
/*-------------------------------------------------------------------------------*/
.activity-list-homepage h2 {
	margin-left: .5em;
}
.card {
	position: relative;
}

.card a {
	text-decoration: none;
	color: #ebf6f7;
}

.card a:visited {
	color: #ebf6f7; 
}

.card img {
	display: block;
}

.description {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ebf6f7;
	background: rgba(39, 34, 31, .75);
	padding: 1em;
}

.card-footer {
	text-align: center;
}

@media (min-width: 34.4375rem) {
	.card {
		width: 50%; /* 2 column layout */
		float: left;
		overflow: hidden;
	}

	.description {
		transform: translateY(150%);
	}

	.card:hover .description {
		transform: translateY(0%);
	}
	
}

@media(min-width:68.75rem) { 
	.activity-list-homepage h3 {
		font-size: 1em;
	}
	.card {
		width: 33.3333334%; /* 3 column layout */
	}

	.description p {
		font-size: .75em;
	}
}

/* canvas  */
/*-------------------------------------------------------------------------------*/
/* canvas {
	height: auto;
} */

/* header  */
/*-------------------------------------------------------------------------------*/
header {
	position: absolute;
	left: 0;
	right: 0;
	/* margin: 1em; */
	padding: 1em;
	text-align: center;
	background: rgba(235, 246, 247, 0.5);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.05)
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
	font-size: .8em;
	padding: .6em;
}
nav a:active,
nav a:hover,
nav a:focus
nav a:visited {
	color: #575757;
}

@media (min-width: 50.0625rem) { /* 801px/ 16px */
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

/* hero  */
/*-------------------------------------------------------------------------------*/
.hero-homepage {
	background-image: url(images/hero-japan-manuel-cosentino-691602-unsplash.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	text-align: center;
}

.hero-homepage a {
	text-decoration: none;
	color: #ebf6f7;
}

/* take up the whole space at larger screen sizes */
@media(min-width:64.0625rem) { /* 1025px/16px */

	.hero-homepage {
		height: 100vh;
	}
}

/* hero typography*/
.title {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 1.5em;
}

.title span {
	font-weight: 300;
	display: block;
	margin: 0;
}

/* desktop title resize */
@media (min-width: 50.0625em) { /* 801px/ 16px */
	
	.title {
		font-size: 3.5em;
	}
}


/* about-homepage  */
/*-------------------------------------------------------------------------------*/
.homepage-textarea {
	background-color: #333;
	padding: 5em;
	width: 100vw;
	outline: 1px solid #ebf6f7;
	outline-offset: -2em;
	color: #ebf6f7;
	text-align: center;
}

.homepage-textarea h2 {
	margin-top: 0;
}

.homepage-textarea a {
	color: #ebf6f7;
	text-decoration: underline dashed;
}

audio {
	width: 80%;
	margin: 1em 0 6em 0;
}

video {
	width: 80%;
}

.js-player {
	width: 80%;
	background-color: #191919;
	padding: 1em;
	margin: 1em auto 6em;
}

.js-player button {
	background-color: #191919;
	color: #ffffff;
	border: none;
}
/* form */
/*-------------------------------------------------------------------------------*/
.flyout {
	display: block;
	max-width: 50.0625em;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #575757;
	color: #ebf6f7;
	padding: 2em 2em;
	overflow-y: scroll;
	-webkit-box-shadow: -6px 0 16px -8px black;
	-moz-box-shadow: -6px 0 16px -8px black;
	box-shadow: -6px 0 16px -8px black;
	transform: translateX(120%); /*push to the right*/
	transition: 250ms transform cubic-bezier(.87,-.41,.19,1.44);
}

.flyout.open {
	transform: translateX(0);
	transition: 250ms transform cubic-bezier(.87,-.41,.19,1.44);

}

.flyout .contact-toggle,
.flyout .itinerary-toggle {
	position: absolute;
	right: .5em;
	top: 0;
	text-decoration: none;
	font-size: 2em;
	padding: .5em;
	color: #ebf6f7;
}

input,
textarea {
	width: 100%;
	padding: 1.5em;
	margin-bottom: 2em;
    border: 1px solid #ebf6f7;
    resize: vertical;
}

label {
	display: block;
	margin-bottom: 0.25em;
}

input[type=submit] {
    background-color: #5B8930;   /*萌黄	Moegi	Fresh onion*/
    color: #ebf6f7;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}


/* footer */
/*-------------------------------------------------------------------------------*/
footer {
	padding: 2em 5em 2em 5em;
	text-align: center;
}

footer p {
	margin: 0;
}

/* new tags for assignment  */
/*-------------------------------------------------------------------------------*/
mark {
	background:yellow;
	padding: 0 .5em;
}
main {
    display:block;
}
em {
	font-style: italic;
}

address {
	font-variant-caps: small-caps;
	font-weight: 100;
	margin-bottom: 3em;
}

a {
    font-variant: normal;
}

i {
	font-style: italic;
}
b {
	font-weight: bold;
}

rt, rp {
	font-size: .6em;
	color: #575757;
	font-weight: 200;
}



/* drag and drop  */
/*-------------------------------------------------------------------------------*/
.fill {
	position: relative;
	top: .5em;
	left: .5em; 
	width: 10em;
	height: 4.6875em;
	cursor: pointer;

}

.fill img {
	max-width: 3em; /*48/16*/
}

.empty {
	display: block;
	height: 4em; 
	width: 100%;
	cursor: pointer;
	margin: .5em;
	border: 1px #ebf6f7 solid;
}

.hovered {
	border-style: dashed;
}

.invisible {
	display: none;
}

@media (min-width: 50.0625em) { /* 801px/ 16px */
	
	html {
		font-size: 1em;
	}
}

/*end my styles*/